body {
  font-family: Work Sans, sans-serif;
  background: linear-gradient(to left, #0a79d9, #b552b0);
  color: #dee1de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.background {
  position: absolute;
  color: rgb(171, 200, 116);
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.weather-container {
  background: rgba(52, 181, 217, 0.1);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 32px rgba(0, 0, 0, 0.2);
}

.search-box {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: #31a92d;
}
.weather-result {
  margin-top: 20px;
  font-size: 1.2em;
}
h1{
    text-align: center;
  font-size: 2.7em;
  margin-bottom: 10px;
}
